@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@400;500&family=Nunito+Sans:wght@400;600;700&family=Manrope:wght@400;500;600;700&display=swap");

:root {
    --background: #ffffff;
    --foreground: #0f1327;
}

@theme {
    --color-primary: #00082a;
    --color-secondary: #01041e;
    --color-success: #0b1853;
    --color-accent: #000b39;
    --color-blue: #7d99ff;
    --color-light: #f6faff;
    --color-yellow: #faeb73;
    --color-gray: #8f8e8e;
    --font-sans: "Inter", sans-serif;
    --font-mono: "Roboto Mono", monospace;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--foreground);
    color: #ffffff;
    /* font-family: var(--font-sans); */
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    /* @apply container mx-auto px-5 lg:px-0; */
}

.eq {
    transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
